.profile-add-posts {
  border-bottom: .13889vw solid #fff;
}

.profile-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

.profile-form-add input, button {
  background-color: inherit;
  border: 0;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.profile-form-add input:hover::placeholder, button:hover {
  color: yellow;
  opacity: .5;
}

.profile-input {
  width: 85%;
  color:#f8ff13;
}

.profile-button {
  width: 15%;
  text-align: center;
  border-left: .13889vw solid #fff;
  opacity: .5;
  text-transform: uppercase;
}