.dialogs-title {
  font-size: 48px;
  font-weight: 800;
}

.dialogs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 100%;
  width: 100%;
}

.dialogs-left {
  width: 25%;
}