.dialogs-title {
  font-size: 48px;
  font-weight: 800;
}

.dialogs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 100%;
  width: 100%;
}

.dialogs-left {
  width: 20%;
}

.dialogs-user {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-top: 1px solid #2C2C2C;
  border-bottom: 1px solid #2C2C2C;

  padding: 20px 20px 20px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dialogs-user:hover {
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

.dialogs-user-img {
  background: url('../../images/kendall.jpg');
  background-size: 100%;
  margin-right: 30px;
}